<!--html de prueba -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Lugares Turisticos</title>
</head>
<body>
    <div style = "background-color: yellowgreen; text-align: center">
        <h1>Miembros del proyecto La Sirena</h1>
        <h1>LIDERES</h4>
        <h4>Daniel Carvajal, Juan Jose Gomez, Lina Franco</h4>
        <h1>DESARROLLADORES</h1>
        <h4>Manuela Correa, Daniela Villamizar, Sebastian Cortes, Jacobo Montenegro</h4>
    </div>
</body>
</html>